In [2]:
import sys
import pandas as pd
import geopandas as gpd

In [3]:
# Util imports
sys.path.append("../../")  # include parent directory
from src.settings import DATA_DIR, SRC_DIR

In [4]:
STRATA_PATH = DATA_DIR / "shp" / "caraga_strata-natural-forest.shp"

In [5]:
strata_gdf = gpd.read_file(STRATA_PATH)

NameError: name 'STRATA_PATH' is not defined

In [ ]:
# strata_gdf = strata_gdf[['Strata_No','geometry']].copy()

In [6]:
primary_plots = gpd.read_file(
    DATA_DIR / "shp" / "subplot_map" / "ALL-recoded_plots_primary.shp"
)

In [7]:
primary_plots.head(2)

,ID,Plot_No,Strata_No,LCC,Pro_Name,Mun_Name,Bgy_Name,Plot_type,Letter_CD,Plot_uniqu,Plot_ID,geometry
0,101019,1,Strata_1,Dipterocarp Forest Closed,SURIGAO DEL SUR,LANUZA,Pakwan,Primary_point,A,001A1_SDS_8314_23_1,001A1,POINT (825367.557 1012520.782)
1,101020,2,Strata_1,Dipterocarp Forest Closed,AGUSAN DEL SUR,LA PAZ,Lydia,Primary_point,A,002A1_ADS_8508_23_1,002A1,POINT (773490.067 919489.258)

In [8]:
primary_plots = primary_plots[["Plot_ID", "Strata_No"]].copy()

In [9]:
backup_plots = gpd.read_file(
    DATA_DIR / "shp" / "subplot_map" / "ALL-recoded_plots_backup.shp"
)

In [10]:
backup_plots.head(2)

,ID,Plot_type,Plot_No,Strata_No,LCC,Pro_Name,Mun_Name,Bgy_Name,Plot_uniqu,Plot_ID,geometry
0,99687,Subplot,1,Strata_1,Dipterocarp Forest Closed,SURIGAO DEL SUR,LANUZA,Pakwan,001B2_SDS_8314_23_1,001B2,POINT (825122.697 1012156.979)
1,99688,Subplot,1,Strata_1,Dipterocarp Forest Closed,SURIGAO DEL SUR,LANUZA,Pakwan,001C2_SDS_8314_23_1,001C2,POINT (825302.023 1012006.011)

In [11]:
backup_plots = backup_plots[["Plot_ID", "Strata_No"]].copy()

In [12]:
plots = pd.concat([primary_plots, backup_plots], ignore_index=True)

In [13]:
plots["Plot_ID"] = plots["Plot_ID"].str.lstrip("0")

In [14]:
plots["Strata_No"] = plots["Strata_No"].str.extract(r"(\d+)")

In [15]:
plots

     Plot_ID Strata_No
0        1A1         1
1        2A1         1
2        3A1         1
3        4A1         1
4        5A1         1
...      ...       ...
3515   402A1         6
3516   403A1         6
3517   404A2         6
3518   405A2         6
3519   406A2         6

[3520 rows x 2 columns]

In [16]:
plots.rename(columns={"Strata_No": "Strata", "Plot_ID": "unique_id"}, inplace=True)

In [17]:
plots.to_csv(SRC_DIR / "lookup" / "pc_plot_lookup_20240722.csv", index=False)