In [22]:
# Standard Imports
import sys
import pandas as pd

# Google Cloud Imports
import pandas_gbq

In [23]:
# Util imports
sys.path.append("../../")  # include parent directory
from src.settings import CARBON_POOLS_OUTDIR, GCP_PROJ_ID, TMP_OUT_DIR

PLOT_INFO_CSV = CARBON_POOLS_OUTDIR / "plot_info.csv"
SRC_DATASET_ID = "biomass_inventory"

In [24]:
if PLOT_INFO_CSV.exists():
    plot_info = pd.read_csv(PLOT_INFO_CSV)
else:
    query = f"""
    SELECT
        * 
    FROM {GCP_PROJ_ID}.{SRC_DATASET_ID}.plot_info"""

    # Read the BigQuery table into a dataframe
    plot_info = pandas_gbq.read_gbq(query, project_id=GCP_PROJ_ID)
    plot_info.to_csv(PLOT_INFO_CSV, index=False)

In [25]:
plot_info.plot_type.unique()

array(['primary', 'backup'], dtype=object)

In [26]:
plot_info.loc[plot_info.duplicated(subset="unique_id"), "unique_id"].unique()

array(['66D1', '293A1', '330C1', '366A1', '71B1', '334A1', '303B2',
       '343B1', '224C1', '224A1', '224D1', '224B1', '17D2', '198A1',
       '266D1'], dtype=object)

In [27]:
duplicates = plot_info[
    plot_info.unique_id.isin(
        plot_info.loc[plot_info.duplicated(subset="unique_id"), "unique_id"].unique()
    )
].sort_values("unique_id")

In [37]:
duplicates.groupby("unique_id")["sub_plot_shift"].nunique().sort_values()

unique_id
17D2     1
198A1    1
224A1    1
224C1    1
224D1    1
266D1    1
293A1    1
330C1    1
343B1    1
366A1    1
224B1    2
303B2    2
334A1    2
66D1     2
71B1     2
Name: sub_plot_shift, dtype: int64

In [38]:
duplicates

,unique_id,data_recorder,team_no,plot_code_nmbr,plot_type,sub_plot,yes_no,sub_plot_shift,GPS_waypt,GPS_id,...,disturbance_type,disturbance_class,slope,canopy_avg_height,canopy_cover,access_reason,slope_radians,corrected_plot_area_n2_m2,corrected_plot_area_n3_m2,corrected_plot_area_n4_m2
397,17D2,Rodney,5,17,backup,sub_plotD,yes,no_shift,10.0,5.0,...,NaN,NaN,23.0,29.0,3.0,NaN,0.226068,82.694573,744.251154,1323.113162
394,17D2,Rodney,5,17,backup,sub_plotD,yes,no_shift,99.0,5.0,...,dist_hum,sawmills,9.0,30.0,3.0,NaN,0.089758,79.175989,712.583900,1266.815822
391,198A1,Christmel,4,198,primary,sub_plotA,yes,no_shift,167.0,4.0,...,NaN,NaN,15.0,10.0,3.0,NaN,0.148890,80.306962,722.762660,1284.911395
475,198A1,Sham,2,198,primary,sub_plotA,no,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,slope,NaN,NaN,NaN,NaN
228,224A1,Steve,1,224,primary,sub_plotA,yes,no_shift,91.0,1.0,...,NaN,NaN,34.0,15.0,3.0,NaN,0.327739,87.619019,788.571172,1401.904306
221,224A1,Steve,1,224,primary,sub_plotA,yes,no_shift,89.0,1.0,...,dist_hum,local_cutting,10.0,12.0,4.0,NaN,0.099669,79.325215,713.926931,1269.203432
230,224B1,Steve,1,224,primary,sub_plotB,yes,east,95.0,1.0,...,NaN,NaN,4.0,4.0,3.0,NaN,0.039979,78.665480,707.989320,1258.647681
220,224B1,Steve,1,224,primary,sub_plotB,yes,no_shift,87.0,1.0,...,dist_hum,sawmills,36.0,10.0,2.0,NaN,0.345556,88.718577,798.467189,1419.497225
219,224C1,Steve,1,224,primary,sub_plotC,yes,no_shift,86.0,1.0,...,NaN,NaN,45.0,7.0,2.0,NaN,0.422854,94.444129,849.997162,1511.106066
227,224C1,Steve,1,224,primary,sub_plotC,yes,no_shift,90.0,1.0,...,NaN,NaN,3.0,4.0,2.0,NaN,0.029991,78.610502,707.494520,1257.768035
229,224D1,Steve,1,224,primary,sub_plotD,yes,no_shift,92.0,1.0,...,NaN,NaN,36.0,11.0,3.0,NaN,0.345556,88.718577,798.467189,1419.497225
222,224D1,Steve,1,224,primary,sub_plotD,yes,no_shift,89.0,1.0,...,dist_hum,sawmills,4.0,7.0,3.0,NaN,0.039979,78.665480,707.989320,1258.647681
307,266D1,Rodney,5,266,primary,sub_plotD,yes,no_shift,82.0,5.0,...,NaN,NaN,26.0,21.0,2.0,NaN,0.254368,83.849108,754.641971,1341.585727
480,266D1,Rodney,5,266,primary,sub_plotD,yes,no_shift,82.0,5.0,...,NaN,NaN,16.0,20.0,3.0,NaN,0.158655,80.550436,724.953921,1288.806970
86,293A1,Steve,1,293,primary,sub_plotA,yes,no_shift,41.0,1.0,...,dist_nat,wind,34.0,9.0,4.0,NaN,0.327739,87.619019,788.571172,1401.904306
84,293A1,Steve,1,293,primary,sub_plotA,yes,no_shift,39.0,1.0,...,dist_nat,wind,22.0,11.0,3.0,NaN,0.216550,82.341143,741.070291,1317.458295
172,303B2,Christmel,4,303,backup,sub_plotB,yes,south,106.0,4.0,...,NaN,NaN,61.0,11.0,3.0,NaN,0.547740,107.764482,969.880338,1724.231712
169,303B2,Christmel,4,303,backup,sub_plotB,yes,no_shift,97.0,4.0,...,NaN,NaN,24.0,10.0,2.0,NaN,0.235545,83.063710,747.573388,1329.019356
171,303B2,Christmel,4,303,backup,sub_plotB,no,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,slope,NaN,NaN,NaN,NaN
128,330C1,Steve,1,330,primary,sub_plotC,no,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,slope,NaN,NaN,NaN,NaN
122,330C1,Steve,1,330,primary,sub_plotC,yes,no_shift,65.0,1.0,...,NaN,NaN,55.0,10.0,3.0,NaN,0.502843,102.298111,920.682997,1636.769773
155,334A1,Steve,1,334,primary,sub_plotA,yes,no_shift,78.0,1.0,...,NaN,NaN,65.0,8.0,3.0,NaN,0.576375,111.722889,1005.505999,1787.566220
154,334A1,Steve,1,334,primary,sub_plotA,yes,south,77.0,1.0,...,NaN,NaN,51.0,15.0,4.0,NaN,0.471616,98.968023,890.712203,1583.488361
223,343B1,Rodney,5,343,primary,sub_plotB,yes,no_shift,75.0,5.0,...,NaN,NaN,38.0,22.0,3.0,NaN,0.363147,89.880966,808.928692,1438.095453
225,343B1,Rodney,5,343,primary,sub_plotB,yes,no_shift,77.0,5.0,...,dist_hum,local_cutting,11.0,19.0,3.0,NaN,0.109560,79.490148,715.411333,1271.842370
75,366A1,Rodney,5,366,primary,sub_plotA,yes,no_shift,39.0,5.0,...,NaN,NaN,62.0,18.0,2.0,NaN,0.554996,108.730522,978.574696,1739.688348
138,366A1,Steve,1,366,primary,sub_plotA,yes,no_shift,73.0,1.0,...,NaN,NaN,37.0,10.0,4.0,NaN,0.354380,89.291917,803.627255,1428.670675
61,66D1,Rodney,5,66,primary,sub_plotD,yes,no_shift,31.0,5.0,...,NaN,NaN,24.0,18.0,2.0,NaN,0.235545,83.063710,747.573388,1329.019356
81,66D1,Christmel,4,66,primary,sub_plotD,yes,south,67.0,4.0,...,NaN,NaN,38.0,9.0,2.0,NaN,0.363147,89.880966,808.928692,1438.095453
140,71B1,Rodney,5,71,primary,sub_plotB,yes,south,53.0,5.0,...,NaN,NaN,19.0,15.0,2.0,NaN,0.187762,81.375104,732.375933,1302.001659
134,71B1,Rodney,5,71,primary,sub_plotB,yes,no_shift,54.0,5.0,...,NaN,NaN,13.0,16.0,2.0,NaN,0.129275,79.867139,718.804253,1277.874228

In [29]:
duplicates.to_csv(TMP_OUT_DIR / "duplicate_plot_ids.csv")